body{
  background-color: #CFF5E7;
  font-family: "Maven Pro";
}

h1{
  color: #0D4C92;
  font-family: "Sacramento";
}

h2{
  color: #0D4C92;
  font-family: "Montserrat";
  
h3{
  color: #0D4C92;
  font-family: "Montserrat";
}

img{
  border-radius: 100%;
}  

p{
  color: #0E5E6F;
}

table{
  color: #0E5E6F;
}

ul{
  color: #0E5E6F;
}

hr{
  border-color: #59C1BD;
  border-style: dotted none none;
  border-width: 15px;
  width: 10%;
}
